    body {
        margin: 3% 5%;
        background: #e1e7ef;
        font-family: "Open Sans", Helvetica, serif;
        background: url(https://source.unsplash.com/random/1920x1080);
        background-size: cover;
    }
    h1 {
        text-align: center;
    }
    h3 {
        text-align: center;
        font-size: 1em;
    }
    input {
        width: 99%;
        height: 90%;
        padding: 15 15px;
        border-radius: 2px;
        border: 2px solid #999;
    }
    li {
        padding: 10px;
        font: 19px;
        color: #fff;
    }
    li:hover {
        background-color: #e1e7ef;
        color: #041e42;
        cursor: crosshair;
    }
    a:link {
        color: white;
    }
    a:visited {
        color: white;
    }
    a:hover {
        color: white;
    }
    a:active {
        color: white;
    }
    .container {
        display: flex;
        flex-wrap: wrap;
        word-break: break-all;
    }
    .header {
        width: 100%;
        text-align: center;
        vertical-align: middle;
        line-height: 10px;
        height: 80px;
        background-color: #041e42;
        color: #fff;
    }
    .footer {
        width: 100%;
        text-align: center;
        vertical-align: middle;
        line-height: 10px;
        height: 80px;
        background-color: #041e42;
        color: #fff;
    }
    .nav {
        width: 100%;
        margin-bottom: 1%;
        padding: 10px 0 0 10px;
    }
    .aside {
        background-color: #63666A;
        height: calc(100vh - 60px);
        width: 30%;
        overflow-wrap: break-word;
    }
    .filter {
        width: 100%;
    }
    #map {
        width: 70%;
    }
    #quote-container {
        width: 100%;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        overflow-wrap: break-word;
    }
    #quote {
        color: white;
        font-size: 1em;
        width: 500px;
        text-align: center;
        text-shadow: 2px 2px black;
    }
    #author {
        font-family: 'Roboto';
        color: white;
        font-size: 1em;
        font-weight: 300;
        margin-top: 20px;
        text-shadow: 2px 2px black;
        b {
            font-weight: 900;
        }
    }
}